<h1>Movies</h1>

<% @movies.each do |movie| %>
    <h3><%= movie.title%></h3>
    <p>Genre: <%= movie.genre%></p>
    <p>Year: <%= movie.year%></p>
    <p>Length: <%= movie.length%> minutes</p>
    <p><%= movie.actors.count%> actors</p>
    <p><%= movie.count_reviews%> reviews</p>

<% end %>