<h1>Add a movie</h1>

<%= form_with model: @movie do |form| %>
    <div class= "row g-1">
        <%= form.label :title%>
        <%= form.text_field :title, required:true%>
    </div>
    <div class= "row g-1">
        <%= form.label :price%>
        <%= form.number_field :price, required:true, step: 0.01%>
    </div>
    <div class= "row g-1">
        <%= form.label :genre%>
        <%= form.text_field :genre, required:true%>
    </div>
    <div class= "row g-1">
        <%= form.label :year%>
        <%= form.text_field :year, required:true%>
    </div>
    <div class= "row g-1">
        <%= form.label :length%>
        <%= form.number_field :length, required:true%>
    </div>
    <div class= "row g-1">
        <%= form.label :picture%>
        <%= form.file_field :picture, accept: "image/jpg, image/png, image/jpeg"%>
    </div>
    <%=form.submit "Add movie"%>
<%end%>