

<h1><%= @movie.title%></h1>
<%= image_tag @movie.picture if @movie.picture.attached? %>
<%= link_to "Buy it for just #{@movie.price}", new_movie_order_path(@movie.id) %>
<p>Genre: <%= @movie.genre%></p>
<p>Year: <%= @movie.year%></p>
<p>Length: <%= @movie.length%> minutes</p>
<h3>Actors</h3>
<% @movie.actors.each do |actor| %>
    <p><%=actor.name%></p>
<% end %>
<h3>Reviews</h3>
<% @movie.reviews.each do |review| %>
    <p><%=review.message%> <%=review.stars%>⭐️ - <b><%=review.user.username%></b></p>
<% end %>
<%= link_to "Add review", new_movie_review_path(@movie.id) %>

<%= link_to "Delete Movie", @movie, method: "delete", data: {confirm: "Are you sure you want to delete?"} %>