<!DOCTYPE html>
<html>
  <head>
    <title>Ripetomatoesdb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    </header>
    <div class="container">
    <%= image_tag "header.jpeg", alt: "movie header", accept: "image/jpg, image/png, image/jpeg" %>
    <%if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <%end%>
    <%if alert%>
      <p class="alert alert-danger"><%= alert %></p>
    <%end%>
    <%= render partial: "shared/nav"%>
    <%= yield %>
    </div>
  </body>
</html>
